$primaryColor: rgb(161,218,199);
$secondaryColor: rgb(107,117,126);
$primaryFont: 'Concert One', serif;
$secondaryFont: Lato;
$fontSize: 15vmin;

body {
  background-color: $primaryColor;
}

#main-h1,
#main-text{
  font-family: $primaryFont;
}

#formContent,
#button-addon2,
#task{
  font-family: $secondaryFont;
  background-color: $primaryColor;
}

#main-h1 {
  font-size: $fontSize;
}

#main-text {
  font-size: $fontSize / 3;
}

a,
a:hover{
  text-decoration: none;
  font-family: $secondaryFont;
  color: $secondaryColor;
}

a:hover {
  text-decoration: line-through;
}