body {
  background-color: #a1dac7;
}

#main-h1,
#main-text {
  font-family: "Concert One", serif;
}

#formContent,
#button-addon2,
#task {
  font-family: Lato;
  background-color: #a1dac7;
}

#main-h1 {
  font-size: 15vmin;
}

#main-text {
  font-size: 5vmin;
}

a,
a:hover {
  text-decoration: none;
  font-family: Lato;
  color: #6b757e;
}

a:hover {
  text-decoration: line-through;
}

